In [312]:
import pandas as pd

In [313]:
filename1 = r'Entrada de Passageiros por Estação - Média Dias Úteis - 2021.csv'
filename2 = r'Entrada de Passageiros por Estação - Média dias Úteis - 2022_0.csv'
filename3 = r'Entrada de Passageiros por Estação - Média Dias Úteis - 2023_1.csv'

In [314]:
cols = ['Station','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', 'Average']

In [315]:
def return_df_list(filename,year):
    listDf = []
    line1 = pd.read_csv(filename,delimiter=';',skiprows=5,encoding='latin-1').iloc[:24,0:14]
    line1.columns = cols  
    line1['Line'] = '1'  
    line1['Year'] = year
    listDf.append(line1)

    line2 = pd.read_csv(filename,delimiter=';',skiprows=35,encoding='latin-1').iloc[:15,0:14]
    line2.columns = cols
    line2['Line'] = '2'
    line2['Year'] = year
    listDf.append(line2)

    line3 = pd.read_csv(filename,delimiter=';',skiprows=56,encoding='latin-1').iloc[:19,0:14]
    line3.columns = cols
    line3['Line'] = '3'
    line3['Year'] = year
    listDf.append(line3)

    line15 = pd.read_csv(filename,delimiter=';',skiprows=80,encoding='latin-1').iloc[:12,0:14]
    line15.columns = cols
    line15['Line'] = '15'
    line15['Year'] = year
    listDf.append(line15)
    return listDf

In [316]:
Combined_list =[]

In [317]:
listDf = return_df_list(filename1,'2021')
EntryByStation_df_21 = pd.concat(listDf)
Combined_list.append(EntryByStation_df_21)

listDf = return_df_list(filename2,'2022')
EntryByStation_df_22 = pd.concat(listDf)
Combined_list.append(EntryByStation_df_22)

listDf = return_df_list(filename3,'2023')
EntryByStation_df_23 = pd.concat(listDf)
Combined_list.append(EntryByStation_df_23)

In [318]:
Passenger_EntryByStation = pd.concat([EntryByStation_df_21, EntryByStation_df_22,EntryByStation_df_23], ignore_index=True)
Passenger_EntryByStation
Passenger_EntryByStation.to_csv("Passenger_EntryByStation.csv")
Passenger_EntryByStation

,Station,January,February,March,April,May,June,July,August,September,October,November,December,Average,Line,Year
0,Jabaquara,46,48,40,39,45,46,48,51,55,57,61,59,50,1,2021
1,Conceição,15,16,12,12,14,15,15,16,18,19,20,19,16,1,2021
2,São Judas,9,9,7,7,8,9,9,10,10,11,12,11,9,1,2021
3,Saúde,16,17,13,13,15,16,16,18,19,20,21,20,17,1,2021
4,Praça da Árvore,9,10,8,8,9,9,10,11,11,12,13,12,10,1,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Sapopemba,7.0,8.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,15,2023
206,Fazenda da Juta,3.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,15,2023
207,São Mateus,14.0,16.0,16.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,15,2023
208,Jardim Colonial,5.0,5.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,15,2023
209,Total,99.0,117.0,120.0,124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115.0,15,2023